@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

.item-card {
  min-width: 440px;  /* Ensure each card has a fixed width */
  max-width: 440px;  /* Optional: To prevent cards from resizing */
  flex-shrink: 0;    /* Prevent shrinking */
}